h1 {
  color: black;
}
body {
  background-color: #73a9c2;
}
hr {
  background-color: black;
}
.list-group-item {
  background-color: #87cefa;
}

.container-fluid {
  background-color: #87cefa;
}

.navbar navbar-expand-lg {
  background-color: #87cefa;
}
